/* form_styles.css */

/* Styles for the registration form */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
/* CSS for logo */
/* CSS for logo, title, and subtitle */
.logo {
    width: 100px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 20px auto; /* Center the logo */
    display: block; /* Ensure it behaves as a block element */
}

.title {
    color: darkred; /* Adjust color as needed */
    font-size: 32px; /* Adjust size as needed */
    font-weight: bold; /* Adjust weight as needed */
    text-align: center;
    text-decoration: underline; /* Center the title */
}

.subtitle {
    color: #0a0808; /* Adjust color as needed */
    font-size: 18px; /* Adjust size as needed */
    font-style: italic; /* Adjust style as needed */
    text-align: center; /* Center the subtitle */
    margin-bottom: 40px; /* Adjust spacing as needed */

}


.registration-form {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

.registration-form h2 {
    text-align: center;
    color: orangered;
    text-decoration: underline;
}

.registration-form div {
    margin-bottom: 10px;
    
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
}

.registration-form input[type="text"],
.registration-form input[type="tel"],
.registration-form textarea,
.registration-form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.registration-form input[type="date"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.registration-form input[type="submit"]{
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.registration-form input[type="reset"] {
    padding: 10px 20px;
    border: none;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.registration-form input[type="submit"]:hover{
    background-color: #00ff0d;
}
.registration-form input[type="reset"]:hover{
    background-color: #ff1100;
}

.registration-form .checkboxes label {
    display: block;
    margin-bottom: 5px;
}

/* Additional styles for responsive design */

@media only screen and (max-width: 600px) {
    .registration-form {
        width: 100%;
    }
}
/* styles.css */

footer {
    background-color: #f8f8f8;
    color: #333;
    padding: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

footer img {
    width: 30px;
    height: 30px;
}

footer p:first-of-type {
    font-size: 18px;
}

footer p:last-of-type {
    font-size: 14px;
}
